html{
    font-size:60px;
}

.toggle-buttons{
    display: flex;
}

.toggle-buttons .material-symbols-outlined{
    display: flex;
    font-size: 170px;
}

.toggle-buttons input[type="radio"] {
    display: none;
}

.toggle-buttons label {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 10%;
    flex: 1;
    aspect-ratio: 1;
    margin: 1%;
    font: 0/0;
    color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle-buttons label:hover {
    background-image: none !important;
    color: deeppink;
}

.toggle-buttons label[for=add] {
    background-image: url("catSum.jpg");
}


.toggle-buttons label[for=subtract] {
    background-image: url("catSub.jpg");
}

.toggle-buttons label[for=divide] {
    background-image: url("catDiv.jpg");
}

.toggle-buttons label[for=multiply] {
    background-image: url("catMul.jpg");
}

.toggle-buttons label[for=any] {
    background-image: url("catMix.jpg");
}



.toggle-buttons input:checked+label {
    filter: hue-rotate(305deg) saturate(3);
}


#task{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: fantasy;
}

#task input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    font-size: 1em;
    border-radius: 20px 0px 0px 20px;
    border-color: lightgrey;
    border-width: 1px;
    top: 0;
    background-color: #EEE;
    font-family: fantasy;
    text-align: center;
    margin: 0;
    height: 76px;
}
#task span{
    height: 100%;
}
#task button {
    background-color: #458dc4;
    border-color: lightgrey;
    color: white;
    height: 76px;
    font-size: 1em;
    top: 0;
    padding: 0px 25px;
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
    border-color: transparent;
    margin-left: -15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toggle-buttons span {
    width: 100%;
    text-align: center;
}


.resultimage {
    width: 100%;
}

.resultimage.hidden{
    display: none;
}